.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
    margin-right: 0;
    }
}

#form_container{
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
}

@media (max-width: 991.98px) {
    #login_form_img{
        display: none;
    }
    #login_form{
        background-image: url(/login_page_img/login_img_3.jpeg)
    }
}